<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div>
        <input type='text' id='senderInput' value='test01'>
        <input type='text' id='recepientInput' value='ALL'>
        <input type='text' id='dataInput' value='Hi!'>
        <input type='button' id='sendButton' value='전송'>
    </div>
    <div>
        <input type='text' id='roomName' value='room01'>
        <input type='text' id='roomNumber' value='01'>
        <input type='button' id='createRoom' value='방 생성'>
    </div>
    <div id='result'></div>
</body>
<script src='socket.io/socket.io.js'></script>
<script>
    $(document).ready(() => {
        connectToServer();
    });

    $('#sendButton').bind('click', (event) => {
        println('Send 버튼이 클릭되었습니다. ');

        var sender = document.getElementById('senderInput').value;
        var recepient = document.getElementById('recepientInput').value;
        var data = document.getElementById('dataInput').value;

        var output = { sender: sender, recepient: recepient, data: data };

        if (socket == undefined) {
            alert('서버에 연결되어 있지 않습니다. 먼저 서버에 연결하세요. ');
            return;
        }

        socket.emit('message', output);
    });

    $('#createRoom').on('click', () => {
        println('방이 생성되었습니다.');

        var roomName = document.getElementById('roomName').value;
        var roomNumber = document.getElementById('roomNumber').value;

        var output = { roomName: roomName, roomNumber: roomNumber };

        if (socket == undefined) {
            alert('서버에 연결되어 있지 않습니다. 먼저 서버에 연결하세요. ');
            return;
        }

        socket.emit('room', output);
    });


    println = (data) => {
        $('#result').append('<p>' + data + '<p>');
    }

    connectToServer = () => {
        var options = { 'forceNew': true };
        var url = 'http://192.168.0.40:3000';

        socket = io.connect(url, options);

        socket.on('connect', () => {
            println('웹 소켓 서버에 연결되었습니다. : ' + url);

            socket.on('message', (message) => {
                console.log(JSON.stringify(message));

                println('<p>수신 메세지 : ' + message.sender + ', ' + message.recepient + ', ' + message.data + '</p>');
            });

            socket.on('room', (room) => {
                console.log(JSON.stringify(room));

                println(`<input type='button' id='${room.roomNumber}' value='${room.roomName}' onclick='room(${room.roomNumber})'>`);
            });
        });
    }

     room = async (data) => {
        
    }

</script>

</html>